/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.s-2 .container, .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .s-2 .container, .container {
    width: 90%;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.3098039216);
  background-image: url(../../images/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
@media (max-width: 1400px) {
  header {
    background-size: cover;
  }
}
@media (max-width: 900px) {
  header {
    background-size: cover;
    background-position: center;
  }
}

.headercontainer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .headercontainer {
    width: 99%;
  }
}
@media (max-width: 390px) {
  .headercontainer {
    width: 99%;
  }
}
@media (max-width: 300px) {
  .headercontainer {
    width: 99%;
  }
}
.headercontainer .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.headercontainer .navbar .logo {
  display: flex;
  padding: 28px 0 0 28px;
}
@media (max-width: 300px) {
  .headercontainer .navbar .logo {
    padding-left: 0px;
  }
}
@media (max-width: 1050px) {
  .headercontainer .navbar .logo {
    padding-left: 10px;
  }
}
.headercontainer .navbar .logo img, .headercontainer .navbar .logo p {
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(1, 132, 149, 0) 7.41%, #018394 83.33%);
}
@media (max-width: 300px) {
  .headercontainer .navbar .logo img, .headercontainer .navbar .logo p {
    background: none;
  }
}
.headercontainer .navbar p {
  font-family: "DM Sans", sans-serif;
  width: 123px;
  color: #FFFFFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  margin-right: 68px;
}
@media (max-width: 300px) {
  .headercontainer .navbar p {
    width: 80px;
    font-size: 20px;
    margin-right: 10px;
  }
}
.headercontainer .navbar ul {
  display: flex;
  gap: 50px;
  margin-top: 8px;
}
@media (max-width: 950px) {
  .headercontainer .navbar ul {
    display: none;
  }
}
.headercontainer .navbar a {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.headercontainer .navbar .rightnav {
  display: flex;
  margin-top: 18px;
  gap: 40px;
}
@media (max-width: 800px) {
  .headercontainer .navbar .rightnav {
    gap: 20px;
  }
}
@media (max-width: 300px) {
  .headercontainer .navbar .rightnav {
    gap: 20px;
  }
}
.headercontainer .indonesia {
  display: flex;
  margin: 149px 0 0 50px;
  gap: 193px;
}
@media (max-width: 900px) {
  .headercontainer .indonesia {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .headercontainer .indonesia {
    margin-left: 30px;
  }
}
@media (max-width: 390px) {
  .headercontainer .indonesia {
    margin-left: 30px;
  }
}
.headercontainer .indonesia .line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 950px) {
  .headercontainer .indonesia .line {
    display: none;
  }
}
.headercontainer .indonesia .line .redline {
  height: 70px;
  width: 4px;
  background: #DD2242;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}
@media (max-width: 1000px) {
  .headercontainer .indonesia .line .redline {
    display: none;
  }
}
.headercontainer .indonesia .line .whiteline {
  height: 200px;
  width: 2px;
  background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
}
@media (max-width: 1000px) {
  .headercontainer .indonesia .line .whiteline {
    display: none;
  }
}
.headercontainer .indonesia .line p {
  transform: rotate(-90deg);
  font-family: "DM Sans", sans-serif;
  color: #FFF;
  font-weight: 700;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .headercontainer .indonesia .line p {
    display: none;
  }
}
.headercontainer .indonesia .head {
  width: 500px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  line-height: 90px;
}
@media (max-width: 900px) {
  .headercontainer .indonesia .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .headercontainer .indonesia .head {
    width: 300px;
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 350px) {
  .headercontainer .indonesia .head {
    width: 250px;
    font-size: 40px;
  }
}
.headercontainer .indonesia .head button {
  background-color: #DD2242;
  display: flex;
  width: 150px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 211px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-size: 15px;
  margin-top: 40px;
  height: 70px;
  width: 200px;
}
@media (max-width: 900px) {
  .headercontainer .indonesia .head button {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .headercontainer .indonesia .head button {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .headercontainer .indonesia .head button {
    width: 250px;
  }
}
@media (max-width: 350px) {
  .headercontainer .indonesia .head button {
    width: 200px;
  }
}
.headercontainer .indonesia .head button:hover {
  background-color: #be5466;
  transition: 0.5s;
}
@media (max-width: 900px) {
  .headercontainer .indonesia .head button:hover {
    background-color: #DD2242;
  }
}
@media (max-width: 600px) {
  .headercontainer .indonesia .head button:hover {
    background-color: #DD2242;
  }
}

.bottombox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 210px;
}
@media (max-width: 900px) {
  .bottombox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .bottombox iframe {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .bottombox iframe {
    width: 90%;
  }
}
.bottombox .lefttext {
  display: flex;
  color: #FFF;
  height: 21px;
  transform: rotate(-90deg);
  gap: 20px;
  margin-top: 70px;
}
@media (max-width: 1000px) {
  .bottombox .lefttext {
    display: none;
  }
}
.bottombox .box {
  width: 900px;
  height: 150px;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 900px) {
  .bottombox .box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .bottombox .box {
    width: 90%;
  }
}
.bottombox .box .one,
.bottombox .box .two,
.bottombox .box .three {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottombox .box :first-child {
  color: #DD2242;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.bottombox .box :last-child {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #E0E0E0;
}
.bottombox .box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.s-1 {
  background-image: url(../../images/section\ 2.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .container {
    padding-top: 20px;
    width: 90%;
    flex-direction: column;
    gap: 40px;
  }
}
.container img {
  width: 500px;
}
@media (max-width: 1100px) {
  .container img {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .container img {
    width: 250px;
  }
}
.container .card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1100px) {
  .container .card {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .container .card {
    width: 250px;
  }
}
.container p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #E0E0E0;
}
.container h3 {
  width: 300px;
  font-family: "DM Sans", sans-serif;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .container h3 {
    width: 200px;
    font-size: 20px;
  }
}
.container button {
  background-color: #DD2242;
  display: flex;
  width: 150px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 211px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 900px) {
  .container button {
    width: 80%;
  }
}
.container button:hover {
  background-color: #be5466;
  transition: 0.5s;
}

.s-2 {
  background-image: url(../../images/section\ 3.png);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}
.s-2 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1000px) {
  .s-2 .container {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .s-2 .container {
    padding-top: 20px;
    width: 90%;
    flex-direction: column;
    gap: 40px;
  }
}
.s-2 img {
  width: 500px;
}
@media (max-width: 1100px) {
  .s-2 img {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .s-2 img {
    width: 250px;
  }
}
.s-2 .card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1100px) {
  .s-2 .card {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .s-2 .card {
    width: 250px;
  }
}
.s-2 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #E0E0E0;
}
.s-2 h3 {
  width: 400px;
  font-family: "DM Sans", sans-serif;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .s-2 h3 {
    width: 200px;
    font-size: 20px;
  }
}
.s-2 button {
  background-color: #DD2242;
  display: flex;
  width: 150px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 211px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 900px) {
  .s-2 button {
    width: 80%;
  }
}
.s-2 button:hover {
  background-color: #be5466;
  transition: 0.5s;
}

.s-3 {
  background-image: url(../../images/ifan-bima-B04Xpnu5JQ4-unsplash\ 1.png);
  height: 1000px;
  background-size: cover;
  background-position: center;
}

.container {
  border: 1px solid red;
}/*# sourceMappingURL=global.css.map */