@mixin myflex($direction: "", $justify: "", $align: "", $wrap: "") {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin redbutton {
  background-color: #dd2242;
  display: flex;
  width: 150px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 211px;
  font-family: $dmfont;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

@mixin buttonhover {
  background-color: #be5466;
  transition: 0.5s;
}

@mixin paragraphs {
  font-family: $dmfont;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #e0e0e0;
}

@mixin paragraphdark {
  font-family: $dmfont;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #6f7787;
}

@mixin headings {
  font-family: $dmfont;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
