
header {
    background-image: url(../../images/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1@2x.png);
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #0000004F;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: fixed;

    .logo {
        display: flex;
        margin-top: 40px;
        margin-left: 28px;
        
        img, p {
            opacity: 0.7;
            background: linear-gradient(180deg, rgba(1, 132, 149, 0.00) 7.41%, #018394 83.33%);
        }
    }

    p {
        font-family: $dmfont;
        width: 128px;
        color: $white;
        font-size: 23.961px;
        font-style: normal;
        font-weight: 900;
        margin-right: 68px;
    }

    ul {
        display: flex;
        gap:50px;
        margin-top: 8px;
    }

    a {
        font-family: $roboto;
        color:$white;
        font-size: 18px;
        font-weight: 700;
    }

    .rightnav {
        display: flex;
        margin-top: 38px;
        gap:40px;
    }

}
    

//  EXPLORE INDONESIA
.indonesia {
    display: flex;
    width: 90%;


    .redline {
        width: 4.002px;
        height: 100px;
        background: #DD2242;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        margin: 149px 203px 0 70px;
   }
   
   .whiteline {
       width: 2.001px;
       height: 296px;
       margin-left: 71px;
       background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
   }  

   p {
    color:$white;
    font-family: $dmfont;
    font-size: 16px;
    font-weight: 700;
    width: 17px;
    transform: rotate(-90deg);
    margin: 20px 0 0 65px;
    
}

   .head {
       width: 627.327px;
       margin-top: 182px;
   }
   
   h1 {
       color: $white;
       font-family: $roboto;
       font-size: 120px;
       font-weight: 900px;
       line-height: 130px;
   }
    
   button {
    @include redbutton;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-top: 21px;
   }
   
   button:hover {
    @include buttonhover;
   }
}





