
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    background-image: url(../../images/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1@2x.png);
    height: 1080px;
    background-repeat: no-repeat;
    background-size:1920px 1080px;
    background-position: cover;
    background-color: #0000004F;

    @media (max-width:1450px) {
        width:100%;
        height: 800px;
        background-size: cover;
    }
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    // position: fixed;

   

.logo {
    display: flex;
    margin: 20px 0 0 28px;


    img, p {
        opacity: 0.7;
        background: linear-gradient(180deg, rgba(1, 132, 149, 0.00) 7.41%, #018394 83.33%);
    }
}

    p {
        font-family: $dmfont;
        width: 128px;
        color: $white;
        font-size: 23.961px;
        font-style: normal;
        font-weight: 900;
        margin-right: 68px;
    }

    ul {
        display: flex;
        gap:50px;
        margin-top: 8px;

    }

    a {
        font-family: $roboto;
        color:$white;
        font-size: 18px;
        font-weight: 700;
    }
    .rightnav {
        display: flex;
        margin-top: 18px;
        gap:40px;
    }

}
    

//  EXPLORE INDONESIA
.indonesia {
    display: flex;
    width: 90%;
 
    .redline {
        width: 4.002px;
        height: 149px;
        background: #DD2242;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        margin: 100px 203px 0 70px;

        @media (max-width:1450px) {
            margin-top:100px;
            height: 100px;
        }
   }
   
   .whiteline {
       width: 2.001px;
       height: 296px;
       margin-left: 71px;
       background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;

       @media (max-width: 1450px) {
        height: 200px;
       }
   }  

   p {
    color:$white;
    font-family: $dmfont;
    font-size: 16px;
    font-weight: 700;
    width: 17px;
    transform: rotate(-90deg);
    margin: 20px 0 0 65px;
    
}


   .head {
       width: 627.327px;
       margin-top: 195px;

       @media (max-width: 1450px) {
        margin-top: 45px;
       }

   }
   
   h1 {
       color: $white;
       font-family: $roboto;
       font-size: 120px; 
       font-weight: 900px;
       line-height: 130px;

       @media (max-width:1450px) {
        font-size: 80px;
        line-height: 100px;
       }

   }
    
   button {
    @include redbutton;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-top: 21px;

    @media (max-width:1450px) {
        width:250px;
        padding: 2px;
       }
   }
   
   button:hover {
    @include buttonhover;
   }
}


.navcontainer {
    display: flex;
    margin-top: 220px;
    padding-left: 50px;
   

    @media (max-width:1450px) {
        margin-top: 65px;
        padding-top: 0px;
    }


    .lefttext {
           display: flex;
           flex-direction: column;
           gap: 40px; 
           margin-top: 40px;
           margin-right: 200px;

           @media (max-width:1450px) {
             margin-top: 100px;
        } 


        p {
            color: #FFF;
            transform: rotate(-90deg);
            font-family: $dmfont;
            font-size: 16px;
            font-weight: 700;  

            @media (max-width:1450px) {
                font-size: 10px;
            }   
        }
    }
  
    .box {
        display: flex;
        gap: 100px;
        width:1225px;
        height:210px;
        background-color: #000000;
        opacity: 0.6;
        // margin: 220px 0 0 191px;
        display: flex;
        align-items: center;
        justify-content: space-around;

          @media (max-width:1450px) {
        width: 1000px;
        height: 150px;
        margin: 80px 0 0 0;
    }

    }

    :first-child {
        color: #DD2242;
        font-size: 14px;
        font-family: $roboto;
    }

    :last-child {
        @include paragraphs;

        @media (max-width:1450px) {
            font-size:14px;
        }
    }
    
        .one,
        .two,
        .three {
            display: flex;
            flex-direction: column;
            width:200px;
            gap: 10px;

            @media (max-width:1450px) {
                width: 180px;
            }

        }

        h4 {
            font-family: $dmfont;
            font-size: 26px;
            font-weight: 700;
            color:$white;

            @media (max-width:1450px) {
                font-size:20px;
            }
        }

        video {
            @media (max-width:1450px) {
                width:200px;
                height: 190px;
                margin-top: 40px;
                text-decoration: none;
        }

    }
}