.s-3 {
  background-image: url(../images/ifan-bima-B04Xpnu5JQ4-unsplash\ 1.png);
  height: 1500px;
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 900px) {
    background-position: center;
    background-size: cover;
    height: 2000px;
  }

  // @media (max-width:600px) {
  //     background-position: center;
  //     background-size: cover;
  //     height: 2570px;
  // }

  .container {
    @extend %maincontainer;

    @media (max-width: 1000px) {
      width: 90%;
    }

    h1 {
      font-family: $dmfont;
      font-weight: 700;
      font-size: 40px;
      color: #010a20;
      text-align: center;
      padding: 80px 0 44px;

      @media (max-width: 600px) {
        width: 90%;
      }
    }

    img {
      width: 200px;
    }

    .slidephoto {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 31px;
    }

    .slide {
      display: flex;
      justify-content: center;
      margin-top: 28px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}

.blackbox {
  height: 400px;
  width: 100%;
  background-color: black;
  opacity: 90%;
  position: absolute;
  bottom: 0;
  @media (max-width: 900px) {
    height: 800px;
  }

  @media (max-width: 400px) {
    height: 1000px;
  }

  .numbers {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
      color: white;
      text-align: center;
      font-size: 40px;
      font-family: $dmfont;
      @media (max-width: 600px) {
        width: 80%;
        font-size: 30px;
      }
    }
    p {
      @include paragraphs;
      width: 430px;
      text-align: center;

      @media (max-width: 600px) {
        width: 200px;
      }
    }
  }

  .numbercard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .one,
    .two,
    .three {
      margin-top: 50px;
      width: 300px;
    }
    :first-child {
      color: red;
      font-family: $dmfont;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
    :last-child {
      @include paragraphs;
      text-align: center;
    }
  }
}
