.s-7 {
  height: 700px;
  background-color: #dce8f2;

  .container {
    @extend %maincontainer;

    .heading {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 30px;
      gap: 20px;
      h1 {
        @include headings;
      }
      h5 {
        font-family: $dmfont;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .forms {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-family: $roboto;
        font-weight: 100;
        font-size: 14px;
      }

      input {
        height: 50px;
        border: dashed;
        border-color: white;
        outline: none;
        border-radius: 10px;
        background-color: #dce8f2;
        padding-left: 20px;
      }

      input::placeholder {
        font-size: 14px;
        font-family: $dmfont;
        font-weight: 100;
      }

      input:focus {
        background-color: white;
        border-color: #dce8f2;
      }

      textarea {
        height: 100px;
        border: dashed;
        border-color: white;
        outline: none;
        border-radius: 10px;
        background-color: #dce8f2;
        padding: 20px 0 0 20px;
        resize: none;
      }

      textarea::placeholder {
        font-size: 14px;
        font-family: $dmfont;
        font-weight: 100;
      }

      textarea:focus {
        background-color: white;
        border-color: #dce8f2;
      }
    }

    .button {
      padding: 30px;
      display: flex;
      justify-content: center;
    }
    button {
      @include redbutton;
      width: 300px;

      @media (max-width: 400px) {
        width: 200px;
      }
    }
    button:hover {
      @include buttonhover;
    }
  }
}
